<form #formPlato="ngForm" (ngSubmit)="onSubmit()" id="addPlato" enctype="multipart/form-data">
  <div class="container">
    <!--creamos el campo nombre del plato-->
    <div class="row">
      <div class="input-field col l12 m12 s12">
        <input [(ngModel)]="plato.nombrePlato" placeholder="Nombre del Plato" id="nombrePlato" type="text" name="nombrePlato">
        <label [class.active]="plato.nombrePlato" for="nombre">Plato</label>
      </div>
    </div>
    <!--creamos el campo de descripcion del producto-->
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">mode_edit</i>
        <textarea [(ngModel)]="plato.descripcion" id="textarea" class="materialize-textarea" name="descripcion"></textarea>
        <label [class.active]="plato.descripcion" for="textarea">Decripcion de la categoria</label>
      </div>
    </div>
    <!-- creamos el campo subida de imagen -->
    <div class="row">
      <div class="file-field input-field">
        <div class="btn waves-effect waves-light grey">
          <span>Archivo</span>
          <input [(ngModel)]="plato.foto" type="file" id="imagen" sixe="30" name="foto">
        </div>
        <div class="file-path-wrapper">
          <input [(ngModel)]="plato.foto" class="file-path validate" sixe="30" name="foto">
        </div>
      </div>
    </div>
    <!-- creamos el campo activar producto -->
    <div class="row">
      <div class="switch col l4 m4 s12">
        <label [class.active]="plato.activado">
          Off
          <input [(ngModel)]="plato.activado" type="checkbox" name="activado">
          <span class="lever"></span>
          On
        </label>
      </div>
      <div class="input-field col l4 m4 s12">
        <!--creamos el campo precio-->
        <input [(ngModel)]="plato.precioRacion" id="precio" type="number" step="any" name="precioRacion" required="">
        <label [class.active]="plato.precioRacion" for="precio">Precio</label>
      </div>
      <div class="input-field col l4 m4 s12">
        <select [(ngModel)]="plato.id_categoria" name="id_categoria" ngModel>
          <option value="" disabled>Selecciona la categoria</option>
          <option *ngFor="let cat of categorias" [ngValue]="plato.id_categoria">
           {{cat.nombre}}
          </option>
          <p class="hide">Form value: categorias</p>
        </select>
        <label [class.active]="plato.id_categoria">Selecciona una Categoria</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <button class="btn waves-effect waves-light red right" type="submit" name="action">Enviar
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </div>
</form>
{{plato.nombrePlato}}